main {
  background: #fff;
  flex: 1;

  .page-container {
    padding: 160px 30px 100px;
    max-width: $width-site;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .product-grid {

      .product-block-container {
        flex: 1 0 25%;
        max-width: 25%;
      }
    }

    .page-content-container {
      color: #8a8a8a;
      font-size: 18px;
      font-family: $base-font;

      h2 {
        color: #191919;
        margin: 0;
        font-size: 58px;
        font-family: $header-font;
        font-weight: normal;
      }

      p {
        line-height: 24px;
      }

      &.centered {
        align-self: center;
        padding: 100px 0;
      }

      &.two-column {
        display: flex;
        flex-direction: row;
        padding: 100px 15px;

        .column {
          flex: 1;
          padding: 0 15px;
        }
      }

    }

    /* PAGE SPECIFIC STYLES */
    &.our-story-page {
      
      .page-content-container {
        width: 670px;
      }
    }

    &.faq-page {
      .page-content-container{
        width: 670px;
        padding-top: 20px;
        margin: 0 auto;

        h2 { margin: 80px 0 30px;}

        .asked-question {
          margin-bottom: 60px;
        }

        .question {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}