.featured-collection-container {
  display: flex;
  flex-direction: row;
  padding: 100px 0;
  max-width: $width-site;
  margin: 0 auto;

  .collection-metadata {
    display: flex;
    width: 0;
    max-width: 50%;
    flex-basis: 50%;
    flex-direction: column;
    margin-right: 30px;
    color: #191919;
    position: relative;

    .background {
      position: absolute;
      background: #f1f1ea;
      height: 85%;
      width: 100%;
      top: 30px;
      border-left: 30px solid #fff;
    }
    
    .collection-anchor-image {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .collection-label {
      font-family: $base-font;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .collection-name {
      font-family: $header-font;
      font-weight:  normal;
      font-size: 58px;
      margin: 0px 0px 10px;
    }

    .collection-description {
      font-family: $base-font;
      font-size: 18px;
      color: #8a8a8a;
      margin-bottom: 40px;

      p {
        margin: 0;
      }
    }

    .call-to-action-container {

      a {
        text-decoration: none;
      }

      .shop-now-button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 160px;
        height: 60px;
        padding: 5px 40px 0px;
        border: 2px solid #191919;
        color: #191919;
        font-family: 'HelveticaNeueLTCom';
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .collection-products {
    display: flex;
    margin-left: 30px;
    flex-basis: 50%;
    width: 0;
    max-width: 50%;
    flex-direction: column;

    .product-showcase {
      display: flex;
      flex-flow: row wrap;
    }

    .view-series {
      display: flex;
      flex: 1;
      justify-content: center;

      a {
        color: #191919;
        font-family: 'HelveticaNeueLTCom';
        font-size: 24px;
        text-decoration: none;
        line-height: 36px;
        border-bottom: 4px solid #191919;
      }
    }
  }
}