/*================ Custom Fonts ================*/
@font-face {
  font-family: 'Courier Prime';
  src: url(../assets/CourierPrime-Bold.eot?#iefix) format("embedded-opentype"),
       url(../assets/CourierPrime-Bold.woff2) format("woff2"),
       url(../assets/CourierPrime-Bold.woff) format("woff"),
       url(../assets/CourierPrime-Bold.svg#CourierPrime-Bold) format("svg");
}

@font-face {
  font-family: 'HelveticaNeueLTCom';
  src: url(../assets/HelveticaNeueLTCom-MdCn.eot?#iefix) format("embedded-opentype"),
        url(../assets/HelveticaNeueLTCom-MdCn.woff2) format("woff2"),
        url(../assets/HelveticaNeueLTCom-MdCn.woff) format("woff"),
        url(../assets/HelveticaNeueLTCom-MdCn.svg#HelveticaNeueLT-Com-67-MdCn) format("svg");
}