/*================ Hero Section ================*/

div[data-section-type="hero-section"] {

  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  &.full-height {
    background-size: cover;
    background-position: center;
    height: 100vh;

    .hero-content-container {
      display: flex;
      flex-direction: column;
      color: #fff;
      justify-content: center;
      width: 420px;
  
      &.content-align-right {
        margin-right: 15%;
        align-self: flex-end;
        align-items: flex-end;
        text-align: right;
      }
  
      &.content-align-left {
        margin-left: 15%;
        align-self: flex-start;
        align-items: flex-start;
        text-align: left;
      }
  
      .small-header {
        font-family: 'Courier New';
        font-size: 18px;
        margin-bottom: 20px;
      }
      
      .main-header {
        font-family: 'HelveticaNeueLTCom';
        font-size: 58px;
        margin: 0;
        font-weight: normal;
      }
  
      .body-content {
        font-family: 'Courier New';
        font-size: 28px;
        color: #b4b4b4;
      }
  
      .call-to-action-container {
        margin-top: 40px;
        text-decoration: none;
  
        .call-to-action-button {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 160px;
          height: 60px;
          padding: 5px 40px 0px;
          border: 2px solid #fff;
          color: #fff;
          font-family: 'HelveticaNeueLTCom';
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }

  &.header-height {
    background-size: cover;
    background-position: center;
    height: 500px;
  }
}