.page-navigation-container {
  display: flex;
  flex-direction: row;
  margin: -30px 0 0 -30px;

  .page-block-container {
    padding: 30px 0 0 30px;
    flex: 1 0;

    .page-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 400px;

      .page-block-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 80px;
        background: #191919;
      }

      .page-block-label {
        display: inline;
        color: #ffffff;
        font-family: $header-font;
        font-size: 24px;
        line-height: 36px;
        border-bottom: 4px solid #ffffff;
      }
    }
  }
}