.template-password {
  #bg {
    background-image: url(../assets/content-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  #main-content {
      position: absolute;
      margin: auto;
      width: 673px;
      height: 178px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }

  #logo {
      width: 100%;
  }

  #login {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 

    .storefront-password-form {
      width: 50%;
      display: flex;
      flex-direction: column;

      #Password {
        padding: 10px;
        text-align: center;
        border: none;
        border-radius: 3px;
        font-size: 20px;
      }

      .login-button {
        display: none;
      }

      .errors {
        display: flex;
        justify-content: center;
        
        ul {
          list-style: none;
          padding: 0;
          width: 80%;
        
          li {
            text-align: center;
            font-family: $nav-font;
            color: red;
          }
        }
      }
    }
  }
}