<div class="page-container padded-container our-story-page">
  {% section 'our-story-header' %}
  <div class="page-content-container centered">
    {{ page.content }}
  </div>
  {% section 'page-navigation' %}
</div>