{% layout 'password' %}

<div id="bg">
    <div id="main-content">
      {{ 'logo-white.svg' | asset_url | img_tag id: 'logo' }}
      <div id="login">   
        {% form 'storefront_password' %}
          <input type="password" name="password" id="Password" placeholder="ENTER YOUR PASSWORD">
          <button type="submit" name="commit" class="login-button">Log In</button>
          {{ form.errors | default_errors }}
        {% endform %}
    </div>
</div>