<div data-section-id="breadcrumbs" data-section-type="breadcrumbs">
  <ul class="breadcrumb-navigation">
    <li>
      <a href="#">Shop All</a>
    </li>
    <li>></li>
    {% if template contains 'collection' %}
    <li>
      <a href="#" class="selected">{{ collection.title }} Series</a>
    </li>
    {% elsif template contains 'product' %}
    <li>
      <a href="#">{{ product.collections[0].title }} Series</a>
    </li>
    <li>></li>
    <li>
      <a href="#" class="selected">{{ product.selected_or_first_available_variant.sku }}</a>
    </li>
    {% endif %}
  </ul>
</div>