<div class="free-shipping-banner">
  <h2>FREE STANDARD SHIPPING ON ALL DOMESTIC ORDERS</h2>
</div>

{% schema %}
  {
    "name": "Free Shipping Banner",
	"settings": [],
	"presets": [
    {
      "name": "Free Shipping Banner",
      "category": "Promotional"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
	.free-shipping-banner {
		text-align: center;
	}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
