<div class="faq-page-container page-width">
  <div class="grid">
    <div class="grid__item medium-up--two-thirds medium-up--push-one-sixth">
      <header class="section-header">
        <h2>{{ page.title }}</h2>
      </header>
      <div class="rte">
        {{ page.content }}
      </div>
      <div class="faq-page-content">
        {% section 'faq-content' %}
      </div>
    </div>
  </div>
</div>
