<div class="greaterthan-page-container">
  {% section 'greaterthan-hero' %}
  <div class='page-width'>
    {% section 'image-bar' %}
    <div class="grid"></div>
      <div class="rte grid__item medium-up--four-fifths medium-up--push-one-tenth page-content-container">
        {{ page.content }}
      </div>
    </div>
    <div class="featured-product">
      {% section 'featured-product' %}
    </div>
  </div>
</div>
