<div class="page-content-container faq-content">
{% for block in section.blocks %}
  {% if block.type == "heading" %}
    {% include "faq-heading", heading_value: block.settings.heading %}
  {% elsif block.type == "asked_question" %}
    {% include "faq-askedquestion", question: block.settings.question, answer: block.settings.answer %}
  {% endif %}
{% endfor %}
</div>

{% schema %}
  {
    "name": "FAQ Content",
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "label": "Heading",
            "id": "heading",
            "type": "text"
          }
        ]
      },{
        "type": "asked_question",
        "name": "FAQ",
        "settings": [
          {
            "label": "Question",
            "id": "question",
            "type": "text"
          },{
            "label": "Answer",
            "id": "answer",
            "type": "richtext"
          }
        ]
      }
    ]
  }
{% endschema %}
