<div class="page-navigation-container">
  {% for block in section.blocks %}
  <div class="page-block-container">
    <div class="page-block" style="background-image: url({{ block.settings.bg_image | img_url: 'x400' }});">
      <a href="{{ block.settings.page }}" class="page-block-link">
        <div class="page-block-label">
          {{ block.settings.label }}
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Page Navigation",
    "max_blocks": 5,
    "blocks": [
      {
        "type": "page_link",
        "name": "Page Link",
        "settings": [
          {
            "id": "label",
            "type": "text",
            "label": "Label"
          },
          {
            "id": "bg_image",
            "type": "image_picker",
            "label": "Background Image"
          },
          {
            "id": "page",
            "type": "url",
            "label": "Page URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Page Navigation",
        "category": "Layout"
      }
    ]
  }

{% endschema %}