.hero-content-container {

  .mc-field-group {

    .email {
      background: transparent;
      border: 0;
      text-transform: none;
      margin-top: 20px;
      padding: 15px 0;
      border-bottom: 2px solid #fff;
      font-family: $base-font;
      font-size: 20px;
      outline: none;
      color: #fff;
      width: 300px;

      &::placeholder {
        color: #b4b4b4;
      }
    }
  }
}